  <%= link_to new_post_path,method: :GET ,class:'labelit-btn' do%>
    <span class='side-btn-text'>ラベリット!</span>
    <%= image_tag 'label.png' , size: '185x50' ,class: "side-btn-icon" %>
  <% end%>
  <%= link_to search_posts_path,method: :GET ,class:'search-btn' do%>
    <span class='side-btn-text'>ラベル検索</span>
    <%= image_tag 'search.png' , size: '185x50' ,class: "side-btn-icon" %>
  <% end%>
  <%= link_to new_memo_path,method: :GET ,class:'memoit-btn' do%>
    <span class='side-btn-text'>メモイット!</span>
    <%= image_tag 'memo.png' , size: '185x50' ,class: "side-btn-icon" %>
  <% end%>
  <%= link_to memos_path,method: :GET ,class:'index-btn' do%>
    <span class='side-btn-text'>メモ一覧</span>
    <%= image_tag 'mypage.png' , size: '185x50' ,class: "side-btn-icon" %>
  <% end%>