<%= render "shared/navbar" %>
<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1 class="top-name">
      <span class="key">IT</span>の力で<br>
      <span class="key">Label</span>のリアルを追求<br>
      <span class="key">Label × IT</span><br>
      さあ、始めよう！
    </h1>
    <p class="top-labelit"><a class="btn btn-primary btn-lg" href="/posts/new" role="button">ラベリット！</a></p>
  </div>
</div>
<div class="second-content">
  <h2 class="heading-name">機能一覧</h2>
  <ul class="icon-list">
    <%= link_to new_post_path,method: :GET ,class:"top-labelit-btn" do%>
      <span class='side-btn-text'>ラベリット!</span>
      <%= image_tag 'label.png' , size: '185x50' ,class: "side-btn-icon" %>
    <% end%>
    <%= link_to search_posts_path,method: :GET,class:"top-search-btn" do%>
      <span class='side-btn-text'>ラベル検索</span>
      <%= image_tag 'search.png' , size: '185x50' ,class: "side-btn-icon" %>
    <% end%>
    <%= link_to new_memo_path,method: :GET,class:"top-memoit-btn" do%>
      <span class='side-btn-text'>メモイット!</span>
      <%= image_tag 'memo.png' , size: '185x50' ,class: "side-btn-icon" %>
    <% end%>
    <%= link_to memos_path,method: :GET,class:"top-index-btn" do%>
      <span class='side-btn-text'>メモ一覧</span>
      <%= image_tag 'mypage.png' , size: '185x50' ,class: "side-btn-icon" %>
    <% end%>
  </ul>
</div>