<%= render "shared/navbar" %>
<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1 class="top-name">
      <span class="key">IT</span>の力で<br>
      <span class="key">Label</span>の常識を変える<br>
      <span class="key">Label × IT</span><br>
      さあ、始めよう！
    </h1>
    <p class="top-labelit"><a class="btn btn-primary btn-lg" href="/posts/new" role="button">ラベリット！</a></p>
  </div>
</div>
<div class="second-content">
  <h2 class="heading-name">機能一覧</h2>
  <ul class="icon-list">
    <li class="top-labelit-btn">
      <span class='top-btn-text'>ラベリット!</span>
      <a href="/posts/new">
        <%= image_tag 'label.png' , size: '185x50' ,class: "top-btn-icon" %>
      </a>
    </li>
    <li class="top-search-btn ">
      <span class='top-btn-text'>ラベル検索</span>
      <a href="/posts/search">
        <%= image_tag 'search.png' , size: '185x50' ,class: "top-btn-icon" %>
      </a>
    </li>
    <li class="top-memoit-btn">
      <span class='top-btn-text'>メモイット!</span>
      <a href="/memos/new">
        <%= image_tag 'memo.png' , size: '185x50' ,class: "top-btn-icon" %>
      </a>
    </li>
    <li class="top-index-btn">
      <span class='top-btn-text'>メモ一覧</span>
      <a href="/memos">
        <%= image_tag 'mypage.png' , size: '185x50' ,class: "top-btn-icon" %>
      </a>
    </li>
  </ul>
</div>