<%= render "shared/navbar" %>
<div class="container text-center">
<div class="table-name">
  <label for="title">お気に入り一覧</label>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 10%",scope="col"></th>
        <th style="width: 40%",scope="col">タイトル</th>
        <th style="width: 25%",scope="col">処理</th>
        <th style="width: 25%",scope="col">最終保存日時</th>
      </tr>
    </thead>
    <tbody>
    <% @favomemos.each do |favomemo|%>
      <%if favomemo.favorites.present?%>
      <tr>
        <td></td>
        <td><%= favomemo.title%></td>
        <td>
        <%= link_to "詳細" ,memo_path(favomemo),class:"btn btn-success"%>
        <%= link_to "編集" ,edit_memo_path(favomemo) ,class:"btn btn-info"%>
        <%= link_to "削除" ,memo_path(favomemo),method: :delete, class:"btn btn-secondary" , data: { confirm: '削除した場合、添付のラベルもまとめて削除されます。' } %>
        </td>
        <td><%= favomemo.updated_at.to_s(:datetime_jp)%></td>
      </tr>
      <%end%>
    <%end%>
    </tbody>
  </table>

<div class="table-name">
  <label for="title">メモ一覧(全件表示)</label>
</div>
<div class="table-form">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 10%"scope="col">お気に入り</th>
        <th style="width: 40%"scope="col">タイトル</th>
        <th style="width: 25%"scope="col">処理</th>
        <th style="width: 25%"scope="col">最終保存日時</th>
      </tr>
    </thead>
    <tbody>
    <% @memos.each do |memo|%>
      <tr>
        <td>
          <%if memo.favorites.present?%>
            <%= image_tag 'star.png' %>
          <%end%>
        </td>
        <td><%= memo.title%></td>
        <td> 
        <%= link_to "詳細" ,memo_path(memo),class:"btn btn-success"%>
        <%= link_to "編集" ,edit_memo_path(memo) ,class:"btn btn-info"%>
        <%= link_to "削除" ,memo_path(memo),method: :delete, class:"btn btn-secondary" , data: { confirm: '削除した場合、添付のラベルもまとめて削除されます。' } %>
        </td>
        <td><%= memo.updated_at.to_s(:datetime_jp)%></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
</div>
<div class="pagination">
  <%= paginate @memos %>
</div>
<%= render "shared/sidebar" %>