<%= render "shared/navbar" %>
<div class="container text-center">
<div class="memo-show">
  <div class="card text-left">
    <div class="card-header">
      <%= @memo.title %>
      <div class="text-center">
        <% if @favorite.present? %>
          <%= link_to "解除", favorite_path(id: @favorite.id), method: :delete, class: "btn btn-warning text-white" %>
        <% else %>
          <%= link_to "登録", favorites_path(memo_id: @memo.id), method: :post, class:"btn btn-secondary text-white" %>                              
        <% end %>
        <%= link_to "編集" ,edit_memo_path(@memo) ,class:"btn btn-info"%>
        <%= link_to "戻る" ,:back ,class:"btn btn-success"%>
        <%= link_to "削除" ,memo_path(@memo),method: :delete, class:"btn btn-secondary" , data: { confirm: '削除した場合、添付のラベルもまとめて削除されます。' } %>
      </div>    
      <div class="text-center"><%= flash[:notice] %></div>  
    </div>
    <div class="card-body" style="max-height: 400px; overflow: auto;">
      <h6 class="card-title"><%= @memo.updated_at.to_s(:datetime_jp)%></h6>
      <p class="card-text"><%= @memo.desc %></p>
    </div>
    <div class="card-deck-form">
      <div class="card-deck  text-center">
        <div class="row">
          <div class="col-sm-3"></div>
        </div>  
        <% @posts.each do |post| %>
          <div class="col-sm-3">
            <div class="card border-success mb-5" style="max-width: 18rem;">
              <div class="card-header"><%= post.created_at.to_s(:datetime_jp)%></div>
              <div class="card-body text-dark">
                <h5 class="card-title"><%= post.body%></h5>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
</div>
<%= render "shared/sidebar" %>